<html ng-app="bonitaApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Work Flow Fast Pyme - BBVA</title>
    <link rel="stylesheet" href="src/css/boostrap.css" />
    <link rel="stylesheet" href="src/css/select.css" />
    <link rel="stylesheet" href="src/css/select2.css" />
    <link rel="stylesheet" href="src/css/select2-bootstrap.css" />
    <link rel="stylesheet" href="src/css/angular-grid.css" />
    <link rel="stylesheet" href="src/css/theme-fresh.css" />
    <link rel="stylesheet" href="src/css/app.css" />
    <script type="text/javascript" src="src/lib/angular.js"></script>
    <script type="text/javascript" src="src/lib/angular-touch.js"></script>
    <script type="text/javascript" src="src/lib/angular-animate.js"></script>
    <script type="text/javascript" src="src/lib/angular-resource.js"></script>
    <script type="text/javascript" src="src/lib/angular-route.js"></script>
    <script type="text/javascript" src="src/lib/angular-sanitize.js"></script>
    <script type="text/javascript" src="src/lib/angular-grid.js"></script>
    <script type="text/javascript" src="src/lib/select.js"></script>
    <script type="text/javascript" src="src/lib/ui-boostrap-tpls-0.13.0.js"></script>
    <script type="text/javascript" src="src/lib/ngBonita.js"></script>
    <script type="text/javascript" src="src/js/app.js"></script>
    <script type="text/javascript" src="src/js/controllers/consultaSolicitudController.js"></script>
    <script type="text/javascript" src="src/js/controllers/cuadroMandoController.js"></script>
    <script type="text/javascript" src="src/js/controllers/restAPIController.js"></script>
    <script type="text/javascript" src="src/js/directives/loadingDirective.js"></script>
</head>
<body>
    <div id="layout" class="container">
    	<div ng-controller="SessionController">
			<!--
			<div class="hide" data-loading>
				<img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20" />Cargando...
			</div>
			-->
	        <div id="head">
	            <div class="panelHead">
	                <div class="panelUser">
	                    <div class="panelUserBuscar">
	                        <span>Hola, 
	                            <span class="username">{{userName}}</span>
	                        </span>
	                        <a href="#">
	                            <span>Desconectar</span>&nbsp;
	                            <span class="ui-icon ui-icon-bbva-close">&nbsp;&nbsp;&nbsp;</span>
	                        </a>
	                    </div>
	                </div>
	                <div class="panelTitle"><span>Fast Pyme</span></div>
	            </div>
	        </div>
	        <div id="menu">
	            <div class="btn-group">
					<!--
	                <label class="btn btn-primary" ng-model="menu" btn-radio="'consulta'">Consulta</label>
	                <label class="btn btn-primary" ng-model="menu" btn-radio="'cuadromando'">Cuadro de Mando</label>
					-->
	                <label class="btn btn-primary btn-last-child" ng-model="menu" btn-radio="'restAPI'">RestAPI</label>
	           </div> 
	        </div>
		</div>
        <div class="well well-lg">
            <div id="body" ng-view></div>
        </div>
    </div>
</body>
</html>