<div>
	<h1><small>Oportunidad de negocio</small></h1>
	<div class="row">
		<fieldset>
			<legend>Cliente</legend>
			<table class="table-panel">
				<tr>
					<td colspan="6">Oficina</td>
				</tr>
				<tr>
					<td><label class="control-label control-label-0">Tipo Propuesta:&nbsp;</label></td>
					<td>
						<ui-select 
							id="cboTipoPropuesta"
							ng-model="tipoDocumento.select"
							ng-disabled="disabled.tipoDocumento"
							on-select="cambioValor($item, $model)"
							theme="select2" 
							style="width: 220px;" 
							class="form-control" 
							title="Tipo de documento">
							<ui-select-match placeholder="Seleccione un tipo de documento de la lista...">
								{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices repeat="item in tiposDocumento | filter: $select.search">
								<div ng-bind-html="item.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</td>
					<td class="separator"></td>
					<td><label class="control-label control-label-0">Documento de Identidad:&nbsp;</label></td>
					<td>
						<ui-select 
							id="cboTipoDocumento"
							ng-model="tipoDocumento.select"
							ng-disabled="disabled.tipoDocumento"
							on-select="cambioValor($item, $model)"
							theme="select2" 
							style="width: 220px;" 
							class="form-control" 
							title="Tipo de documento">
							<ui-select-match placeholder="Seleccione un tipo de documento de la lista...">
								{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices repeat="item in tiposDocumento | filter: $select.search">
								<div ng-bind-html="item.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</td>
					<td>
						<input id="txtTipoDocumento"
							type="text" 
							class="form-control ui-corner-tr-br" 
							style="border-left: 0px;" 
							ng-model="nroDocumento"/>
					</td>
				</tr>
			</table>
			<table class="table-panel table-right">
				<tr>
					<td>
						<label class="btn btn-primary" ng-click="buscar()">Aperturar</label>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
<div>
