<div>
    <h1><small>Solicitud {{solicitud.nroSolicitud}}</small><small style="float:right;">Estado: {{solicitud.estado}}</small></h1>
    <!-- Inicia Oficina Registrar Solicitud  -->
    <oficina-registrar
        desactivar="false"
        solicitud="solicitud"
        etiqueta="etiqueta"
        funcion="funcion"
        documento="documento"
        propuesta="propuesta"
        moneda-riesgo-grupo="monedaRiesgoGrupo"
        moneda-riesgo-total="monedaRiesgoTotal"
        moneda-propuesta="monedaPropuesta"
        moneda-oportunidad="monedaOportunidad"
        lista-documentos="listaDocumentos"
        lista-propuestas="listaPropuestas"
        lista-etiquetas="listaEtiquetas"
        lista-monedas="listaMonedas"
        lista-guia-documentaria="listaGuiaDocumentaria"
        lista-funciones="listaFunciones"
        ocultar-observaciones="mostrar.oficinaRegistrar">
    </oficina-registrar>
    <div class="row" ng-hide="mostrar.oficinaRegistrar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.oficinaRegistrar()">Guardar Solicitud</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Oficina Registrar Solicitud  -->
    
    <!-- Inicia Riesgos Control (GMC) File  -->
    <div class="row" ng-hide="mostrar.riesgosControl">
        <fieldset>
            <legend ng-class="{activo: !mostrar.riesgosControl}">Evaluaci&oacute;n de Documentaci&oacute;n GMC</legend>
            <table class="table-panel">
                <tr>
                    <td colspan="5">Documentaci&oacute;n:</td>
                </tr>
                <tr>
                    <td><input type="radio" ng-model="solicitud.controlAprobada" value="A"></td>
                    <td>&nbsp;Aprobada</td>
                    <td class="separator"></td>
                    <td><input type="radio" ng-model="solicitud.controlAprobada" value="D"></td>
                    <td>&nbsp;Rechazada</td>
                </tr>
                <tr>
                    <td colspan="2">Comentario:</td>
                </tr>
            </table>
            <table class="table-panel table-panel-100">
                <tr>
                    <td>
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioControlRiesgos"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.riesgosControl">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosControl()">Enviar a Evaluaci&oacute;n</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos  Control (GMC) File  -->
    
    <!-- Inicia Riesgos Asigna Evaluador  -->
    <div class="row" ng-hide="mostrar.riesgosAsignar">
        <fieldset>
            <legend ng-class="{activo: !mostrar.riesgosAsignar}">Asignar Evaluador y &Aacute;mbito</legend>
            <table class="table-panel">
                <tr>
                    <td colspan="3">Evaluador:</td>
                </tr>
                <tr>
                    <td>
                        <ui-select 
                            ng-model="tipoEvaluador.select"
                            on-select="tipoEvaluador.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaTipoEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="separator"></td>
                    <td>
                        <ui-select 
                            ng-model="evaluador.select"
                            on-select="evaluador.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&Aacute;mbito de Decisi&oacute;n:</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ui-select 
                            ng-model="tipoAmbitoEvaluador.select"
                            on-select="tipoAmbitoEvaluador.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaTipoAmbitoEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Comentario:</td>
                </tr>
            </table>
            <table class="table-panel table-panel-100">
                <tr>
                    <td>
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioAsignacion"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <!-- Refactorizar -->
    <div class="row" ng-hide="mostrar.riesgosAsignarInfo">
        <fieldset>
            <legend>Informaci&oacute;n de Asignaci&oacute;n</legend>
            <table class="table-panel table-panel-100">
                <tr>
                    <td colspan="3">&Aacute;mbito de Decisi&oacute;n:</td>
                </tr>
                <tr>
                    <td>
                        <ui-select 
                            ng-model="tipoAmbitoEvaluador.select"
                            on-select="tipoAmbitoEvaluador.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaTipoAmbitoEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td>Comentario:</td>
                </tr>
                <tr>
                    <td>
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioAsignacion"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.riesgosAsignar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosAsignar()">Enviar a Revisi&oacute;n</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos Asigna Evaluador  -->
    
    <!-- Inicia Riesgos Revisa File  -->
    <div class="row" ng-hide="mostrar.riesgosRevisar">
        <fieldset>
            <legend ng-class="{activo: !mostrar.riesgosRevisar}">Evaluaci&oacute;n de Documentaci&oacute;n Riesgo Analista</legend>
            <table class="table-panel">
                <tr>
                    <td colspan="5">Documentaci&oacute;n:</td>
                </tr>
                <tr>
                    <td><input type="radio" ng-model="solicitud.revisionAprobada" value="A"></td>
                    <td>&nbsp;Aprobada</td>
                    <td class="separator"></td>
                    <td><input type="radio" ng-model="solicitud.revisionAprobada" value="D"></td>
                    <td>&nbsp;Rechazada</td>
                </tr>
                <tr>
                    <td colspan="2">Comentario:</td>
                </tr>
            </table>
            <table class="table-panel table-panel-100">
                <tr>
                    <td>
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioRevisionRiesgos"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.riesgosRevisar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosRevisar()">Enviar a Evaluaci&oacute;n</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos Revisa File  -->
    
    <!-- Inicia Riesgos Evalua File  -->
    <div class="row"" ng-hide="mostrar.riesgosEvaluar.pnl">
        <fieldset>
            <legend ng-class="{activo: !mostrar.riesgosEvaluar.rw1}">Evaluaci&oacute;n</legend>
            <table class="table-panel table-panel-100">
                <tr>
                    <td>&Aacute;mbito de decisi&oacute;n Actual:</td>
                    <td>
                        <ui-select 
                            ng-model="tipoAmbitoActual.select"
                            on-select="tipoAmbitoActual.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaTipoAmbitoEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="separator"></td>
                    <td>&Aacute;mbito de decisi&oacute;n Objetivo:</td>
                    <td>
                        <ui-select 
                            ng-model="tipoAmbitoEvaluador.select"
                            on-select="tipoAmbitoEvaluador.onSelect($item, $model)"
                            theme="select2" 
                            style="width: 220px;" 
                            class="form-control">
                            <ui-select-match placeholder="Seleccione">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in listaTipoAmbitoEvaluador | filter: $select.search">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr ng-hide="mostrar.riesgosEvaluar.rw1">
                    <td colspan="5"><label class="control-label control-label-0">Acci&oacute;n:</label></td>
                </tr>
                <tr ng-hide="mostrar.riesgosEvaluar.rw1">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td><input type="radio" ng-model="solicitud.evaluacion[0].accion" value="D"></td>
                                <td>&nbsp;Dictaminar</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.evaluacion[0].accion" value="S"></td>
                                <td>&nbsp;Siguiente &aacute;mbito</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.evaluacion[0].accion" value="O"></td>
                                <td>&nbsp;Observar expediente</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">Comentario:</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.evaluacion[0].comentario"></textarea>
                    </td>
                </tr>
                <!--
                <tr ng-hide="mostrar.riesgosEvaluar.rw2">
                    <td>Evaluador:</td>
                    <td colspan="4">{{solicitud.evaluacion[0].evaluador}}</td>
                </tr>
                -->
            </table>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.riesgosEvaluar.btn">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosEvaluar()">Enviar</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos Evalua File  -->
    
    <!-- Inicia Riesgos Cambiar Estado  -->
    <div class="row" ng-hide="mostrar.riesgosCambiar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosCambiar()">Enviar</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos Cambiar Estado  -->
    
    <!-- Inicia Riesgos Dictamen  -->
    <div class="row" ng-hide="mostrar.riesgosDictaminar.pnl">
        <fieldset>
            <legend ng-class="{activo: !mostrar.riesgosDictaminar.act}">Dictamen</legend>
            <table class="table-panel table-panel-100">
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td><input type="radio" ng-model="solicitud.dictamenAprobada" value="DN"></td>
                                <td>&nbsp;Denegado</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.dictamenAprobada" value="DV"></td>
                                <td>&nbsp;Devuelto</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.dictamenAprobada" value="AM"></td>
                                <td>&nbsp;Aprobado con Modificaci&oacute;n</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.dictamenAprobada" value="AS"></td>
                                <td>&nbsp;Aprobado sin Modificaci&oacute;n</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label class="control-label control-label-0">Comit&eacute; Pipeline:</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td><input type="radio" ng-model="solicitud.comitePipeline" value="S"></td>
                                <td>&nbsp;Si</td>
                                <td class="separator"></td>
                                <td><input type="radio" ng-model="solicitud.comitePipeline" value="N"></td>
                                <td>&nbsp;No</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Documento Sustentatorio:</td>
                </tr>
                <tr>
                    <td><a href="#">Reporte de Cr&eacute;dito</a></td>
                    <td><input type="file"/></td>
                </tr>
                <tr>
                    <td>Importe Aprobado:</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <input 
                                    type="text"
                                    ng-model="solicitud.montoAprobado"
                                    class="form-control ui-corner-tl-bl" />
                            </div>
                            <div class="col">
                                <ui-select 
                                    ng-model="monedaAprobado.select"
                                    on-select="monedaAprobado.onSelect($item, $model)"
                                    theme="select2" 
                                    style="width: 80px;" 
                                    class="form-control ui-corner-tr-br">
                                    <ui-select-match placeholder="Seleccione">
                                        {{$select.selected.value}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in listaMonedas | filter: $select.search">
                                        <div ng-bind-html="item.value | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Plazo:</td>
                    <td><input 
                            type="text"
                            ng-model="solicitud.plazoAprobado"
                            class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="2">Comentario:</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioDictamen"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    
    <div class="row" ng-hide="mostrar.riesgosDictaminar.act">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.riesgosDictaminar()">Enviar</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Riesgos Dictamen  -->
    
    <!-- Inicia Oficina Revisar Dictamen  -->
    <div class="row" ng-hide="mostrar.oficinaRevisar">
        <fieldset>
            <legend ng-class="{activo: !mostrar.oficinaRevisar}">Revisi&oacute;n Final</legend>
            <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioRevisionOficina"></textarea>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.oficinaRevisar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.oficinaRevisar()">Cerrar Expediente</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Oficina Revisar Dictamen  -->
    
    <!-- Inicia Oficina Subsanar  -->
    <div class="row" ng-hide="mostrar.oficinaSubsanar">
        <fieldset>
            <legend ng-class="{activo: !mostrar.oficinaSubsanar}">Comentario de Subsanaci&oacute;n</legend>
            <textarea style="width: 100%; height: 90px;" ng-model="solicitud.comentarioSubsanacion"></textarea>
        </fieldset>
    </div>
    <div class="row" ng-hide="mostrar.oficinaSubsanar">
        <table class="table-panel table-right">
            <tr>
                <td>
                    <label class="btn btn-primary" ng-click="eventos.oficinaSubsanar()">Enviar</label>
                </td>
            </tr>
        </table>
    </div>
    <!-- Termina Oficina Subsanar  -->
<div>
