<div>
    <h1>
        <small>Cuadro de Mando Fast Negocio</small>
    </h1>
</div>
<div class="form-group">
    <fieldset>
        <legend>Criterio de b&uacute;squeda</legend>
        <div class="row">
            <table style="width: 100%;">
                <tr><td>
                    <table>
                        <tr>
                            <td><label class="control-label control-label-0">Red:&nbsp;</label></td>
                            <td>
                                <ui-select 
                                    ng-model="tipoRed.select"
                                    on-select="buscarCentros($item, $model)"
                                    theme="select2" 
                                    style="width: 220px;" 
                                    class="form-control" 
                                    title="Red">
                                    <ui-select-match placeholder="Seleccione una red...">
                                        {{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in tiposRed | filter: $select.search">
                                        <div ng-bind-html="item.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td style="width: 25px;"></td>
                            <td><label class="control-label control-label-0">Centro de Negocio:&nbsp;</label></td>
                            <td>
                                <ui-select 
                                    ng-model="centroNegocio.select"
									on-select="cambioCentroNegocio($item, $model)"
                                    theme="select2" 
                                    style="width: 220px;" 
                                    class="form-control" 
                                    title="Centro de Negocio">
                                    <ui-select-match placeholder="Seleccione una centro de negocio...">
                                        {{$select.selected.val_column1}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in centroNegocios | filter: $select.search">
                                        <div ng-bind-html="item.val_column1 | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                        </tr>
                    </table>
                </td><td valign="top">
                    <label class="btn btn-primary" ng-click="buscar()" style="float: right;" ng-disabled="disabledBuscar">Consultar</label>
                </td></tr>
            </table>
        </div>
    </fieldset>
    <div class="row" style="height:20px;">&nbsp;</div>
    <fieldset>
        <legend>Resultado</legend>
        <div class="row">
            <div ng-style="{'height': '300px', 'width': {{witdh}} + 'px', 'margin': 'auto'}" ag-grid="gridInstances"></div>
        </div>
        <div class="row">
            <highchart id="chartGraf" config="chartConfig" style="height: 450px; width: 820px; margin: auto;" ng-hide="chartConfig.hide" ></highchart>
            <highchart id="chartDetalle" config="chartDetalle" style="height: 450px; width: 820px; margin: auto;" ng-hide="chartDetalle.hide" ></highchart>
        </div>
		<div id="detalle" class="hide">
        	<div class="row">
				<span class="legend">Solicitudes del gestor: </span>
			</div>
        	<div class="row">
            	<table style="width: 100%;">
                	<tr><td style="width: 105px;">
                    	<label class="control-label control-label-0">Asignar a Usuario:&nbsp;</label>
	                </td>
    	            <td style="width: 340px;">
        	            <ui-select 
            	            ng-model="gestor.select"
                            on-select="cambioGestor($item, $model)"
                	        theme="select2" 
	                        style="width: 320px;" 
    	                    class="form-control" 
        	                title="Red">
            	            <ui-select-match placeholder="Seleccione al gestor...">
                	            {{$select.selected.name}}
                    	    </ui-select-match>
		                    <ui-select-choices repeat="item in gestores | filter: $select.search">
	                            <div ng-bind-html="item.name | highlight: $select.search"></div>
	                        </ui-select-choices>
    	                </ui-select>
        	        </td>
	                <td valign="top">
    	                <label class="btn btn-primary" ng-click="asignar()" style="float: right;" ng-disabled="disabledAsignar">Asignar</label>
        	        </td></tr>
					<tr></tr>
	            </table>
			</div>
			<div class="row" style="height: 8px;" >&nbsp;</div>
			<div class="row">
        	    <div ng-style="{'height': '300px', 'width': {{witdh}} + 'px', 'margin': 'auto'}" ag-grid="gridDetalle" ></div>
	        </div>
		<div>
    </fieldset>
</div>

<script type="text/ng-template" id="dialogReasignar.html">
	<div class="modal-header">
    	<h3 class="modal-title">Asignar las solicitudes a {{gestor.select.name}}</h3>
	</div>
	<div class="modal-body" style="height: 150px; overflow: auto;">
		<div ng-repeat="item in rows">
			<div class="row">
				<span ng-class="item.class" ng-style="{ 'padding-left': '10px', 'padding-right': '3px', 'color': {{item.color}} + ' !important' }"></span>Nro. Solicitud <b>{{item.rootprocessinstanceid}}</b>, cliente <b>{{item.nombre_cliente}}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<label class="btn btn-primary" ng-click="ok()" ng-hide="hiddenAceptar">Aceptar</label>
		<label class="btn btn-primary" ng-click="asignar()" ng-hide="hiddenAsignar">Asignar</label>
		<label class="btn btn-primary" ng-click="cancel()">Cancelar</label>
	</div>
</script>

<script type="text/ng-template" id="dialogMensaje.html">
	<div class="modal-header">
    	<h3 class="modal-title">{{data.title}}</h3>
	</div>
	<div class="modal-body">
		{{data.message}}
	</div>
	<div class="modal-footer">
		<!-- <button class="btn btn-primary" ng-click="ok()">Aceptar</button> -->
		<label class="btn btn-primary" ng-click="cancel()">Aceptar</label>
	</div>
</script>
